@media only screen and (min-width:1250px){
    .jvsgviuwgvu{
        text-align: center !important;
        font-size: 20px !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #FFD394 !important;
        padding: 25px !important;
       }
}
@media only screen and (max-width:1250px){
    .jvsgviuwgvu{
        text-align: center !important;
        font-size: large !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #FFD394 !important;
       }
}

.hfewhfuksdhf{
    width: 95% !important;
    font-size: large !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    border: solid 7px #FFD394 !important;
    border-radius: 25px !important;
    text-align: center !important;
    margin-top: 20% !important;
}

.color-vip-keremi{
    color: #FFD394;
}
.color-vip-darkgray{
    color: #BCB9A4;
}
.color-vip-lightgray{
    color: #DFDDCE;
}
.color-vip-blue{
    color: #14B8C2;
}
*{
    margin: none !important;
    overflow-x: hidden;
}
.hihui{
    height: 500px !important;
    position: relative !important;
}

slider{
    display: block;
    width: 100% !important;
    height: 600px !important;
    background-color: #1f1f1f;
    position: absolute;
}
slider > *{
    position: absolute;
    display: block;
    width: 100% !important;
    height: 600px !important;
    background: #1f1f1f;
    animation: slide 12s infinite;
}
slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(../imgs/1.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(../imgs/2.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(../imgs/3.png);
    background-size: cover;
    background-position: center;
}
slide:nth-child(4){
    animation-delay: 8s;
    background-image: url(../imgs/4.jpg);
    background-size: cover;
    background-position: center;
}
slide p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    display: inline-block;
    width: 99%;
    margin-top: 30%;
    color: #fff;
}
@keyframes slide{
    0%{left: 100%; width: 100%;}
    5%{left: 0%;}
    25%{left: 0%;}
    30%{left: -100%; width: 100%;}
    30.0001%{left: -100%; width: 0%;}
    100%{left: 100%; width: 0%;}
}